@charset "UTF-8";

table {
	border-collapse: collapse;
	width: 100%;
	cursor: pointer;
}
		
th, td {
	font-size:17px;
	border: 1px solid #ddd;
	text-align: center;
	padding: 10px;
}

/*짝수번째에 스타일 지정*/		
tr:nth-child(even){background-color: #f2f2f2}
		
th {
	background-color: #99CCCC;
	color: white;
}

.no{width: 10%;}
.title{width: 30%;}
.data{width: 30%;}
.click{width: 20%;}
.open{width:10%}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*등록버튼*/
/* .myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
} */
/* .myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
} */
/* .myButton:active {
	position:relative;
	top:1px;
} */

/*댓글*/
/* .reply{
	color: gray;
	font-size:18px;
	text-align: justify;
} */
